.addresses{
    background: #EFF8F9;
}
@media(max-width: 992px){
    .addresses{

    }
}

/*  */
.addresses__title{
    margin-bottom: 85px;
}
@media(max-width: 992px){
    .addresses__title{
        margin-bottom: 40px;
    }
}
@media(max-width: 355px){
    .addresses__title{
        margin-bottom: 25px;
    }
}

/*  */
.addresses__wrapper{
    display: flex;
    
}
@media(max-width: 992px){
    .addresses__wrapper{

    }
}

/*  */
.addresses__map{
    width: 72%;
}
.map{
    height: 100%;
}
@media(max-width: 992px){
    .addresses__map{
        display: none;
    }
}

/*  */
.addresses__cities{
    width: 28%;
    padding-left: 7%;
}
@media(max-width: 1200px){
    .addresses__cities{
        padding-left: 2%;
    }
}
@media(max-width: 992px){
    .addresses__cities{
        width: 100%;
        padding-left: 0;
    }
}

/*  */
.addresses__button{
    background: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(69, 68, 68, 0.1);
    border-radius: 5px;
    border: 1px solid rgb(239, 156, 78);

    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    display: none;
}
@media(max-width: 992px){
    .addresses__button{
        display: block;
    }
}

/*  */
.city-location{
    cursor: pointer;
}